.Input{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display:block;
    margin-bottom: 8px;
}
.InputElement{
    width: 100%;
    border:1px solid #ccc;
    background-color: white;
    font:inherit;
    padding:6px 10px;
    display: block;
    outline: none;
    box-sizing: border-box;

}
.InputElement:focus{
    background-color: #ccc;
    outline: none;

}

.InValid{
    border:1px solid red;
    background-color: #FDA49A;
}